html {
  height: 100vh;
  background-color: rgb(34, 34, 95);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.highwayLine {
  width: 100%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

.highwayLine::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #fff, #fff 50%, transparent 50%, transparent 100%);
  background-size: 100px;
  animation:  highwayLine_animation linear 0.2s infinite;
}

@keyframes highwayLine_animation {
  0% {
    background-position: 100px 0;
  }
  100% {
    background-position: 0px 0;
  }
}

.policeCar {
  position: absolute;
  width: 275px;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 7px rgb(88, 86, 86);
  border-right: 15px solid  rgb(88, 86, 86);
  border-left: 15px solid  rgb(88, 86, 86);
  border-radius: 3%;
  transform: rotate(-45deg);
}

.policeCar--top {
  height: 85px;
  width: 100px;
  background-color: white;
  display: flex;
  
}

.policeCar--top::after {
  content: attr(labelName);
  position: absolute;
  color: #fff;
  top: 25px;
  left: -26px;
  width: 100px;
  height: 50%;
  background-color: rgb(56, 55, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

.policeCar--top::before {
  content: attr(labelName);
  position: absolute;
  color: #fff;
  top: 25px;
  right: -26px;
  width: 100px;
  height: 50%;
  background-color: rgb(56, 55, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}

.policeCar--top span {
  position: relative;
  font-weight: 900;
  transform: rotate(90deg);
}


.policeCar--top__lights {
  position: absolute;
  top: 14px;
  left: 146px;
  border: solid 3px rgb(88, 86, 86);
  height: 67%;
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.policeCar--top__lights .lights {
  position: relative;
  height: 10%;
  width: 100%;
  background-color: rgb(32, 31, 31);
}

.policeCar--top__lights .lights::after {
  content: '';
  position: absolute;
  bottom: 7px;
  height: 30px;
  width: 100%;
  background-color: rgb(248, 0, 0);
  box-shadow: red 0px 0px 61px 50px;
  animation: policeLights_animation_red linear 1s infinite;
}

.policeCar--top__lights .lights::before {
  content: '';
  position: absolute;
  top: 7px;
  height: 30px;
  width: 100%;
  background-color: rgb(17, 0, 248);
  box-shadow: rgb(17, 0, 255) 0px 0px 61px 50px;
  animation: policeLights_animation_blue linear 1s infinite;
}

@keyframes policeLights_animation_red {

  0% {
    box-shadow: red 0px 0px 61px 50px;
  }
  50% {
    box-shadow: red 0px 0px 5px 5px;
  }
  100% {
    box-shadow: red 0px 0px 61px 50px;
  }
  
}

@keyframes policeLights_animation_blue {

  0% {
    box-shadow: rgb(17, 0, 248) 0px 0px 5px 5px;
  }
  50% {
    box-shadow: rgb(17, 0, 248) 0px 0px 61px 50px;
  }
  100% {
    box-shadow: rgb(17, 0, 248) 0px 0px 5px 5px;
  }
  
}