html {
  height: 100vh;
  background-color: rgb(34, 34, 95);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

ul {
  list-style: none;
}

/* ------------------ highway line ------------------ */

.highwayLine {
  width: 100%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

.highwayLine::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #fff, #fff 50%, transparent 50%, transparent 100%);
  background-size: 100px;
  animation:  highwayLine_animation linear 0.2s infinite;
}

@keyframes highwayLine_animation {
  0% {
    background-position: 100px 0;
  }
  100% {
    background-position: 0px 0;
  }
}

/* ------------------ police car ------------------ */


.policeCar {
  position: absolute;
  width: 275px;
  height: 100px;
  background-color: rgb(28 27 27);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 7px rgb(88, 86, 86);
  border-right: 15px solid  rgb(88, 86, 86);
  border-left: 15px solid  rgb(88, 86, 86);
  border-radius: 20px;
  transform: rotate(-45deg);
}

.policeCar--top {
  height: 88px;
  width: 100px;
  background-color: white;
  display: flex;
  
}

.policeCar--top::after {
  content: attr(labelName);
  position: absolute;
  color: #fff;
  top: 25px;
  left: -26px;
  width: 100px;
  height: 50%;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  border-radius: 0 0 7px 7px;
}

.policeCar--top::before {
  content: attr(labelName);
  position: absolute;
  color: #fff;
  top: 25px;
  right: -26px;
  width: 100px;
  height: 50%;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  border-radius: 0 0 7px 7px;
}

.policeCar--top span {
  position: relative;
  font-weight: 900;
  transform: rotate(90deg);
}


/* ------------------ police top lights ------------------ */

.policeCar--top__lights {
  position: absolute;
  top: 14px;
  left: 146px;
  border: solid 3px rgb(88, 86, 86);
  height: 67%;
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.policeCar--top__lights .lights {
  position: relative;
  height: 10%;
  width: 100%;
  background-color: rgb(32, 31, 31);
}

.policeCar--top__lights .lights::after {
  content: '';
  position: absolute;
  bottom: 7px;
  height: 30px;
  width: 100%;
  background-color: rgb(248, 0, 0);
  animation: policeLights_animation_red linear 1s infinite;
}

.policeCar--top__lights .lights::before {
  content: '';
  position: absolute;
  top: 7px;
  height: 30px;
  width: 100%;
  background-color: rgb(17, 0, 248);
  animation: policeLights_animation_blue linear 1s infinite;
}

@keyframes policeLights_animation_red {

  0% {
    box-shadow: red 0px 0px 61px 50px;
  }
  50% {
    box-shadow: red 0px 0px 5px 5px;
  }
  100% {
    box-shadow: red 0px 0px 61px 50px;
  }
  
}

@keyframes policeLights_animation_blue {

  0% {
    box-shadow: rgb(17, 0, 248) 0px 0px 5px 5px;
  }
  50% {
    box-shadow: rgb(17, 0, 248) 0px 0px 61px 50px;
  }
  100% {
    box-shadow: rgb(17, 0, 248) 0px 0px 5px 5px;
  }
  
}


/* ------------------ windows ------------------ */

ul li.windows1 {
  position: absolute;
  top: -17px;
  right: 67px;
  width: 9px;
  height: 50px;
  background-color: white;
  transform: rotate(84deg);
  transform-style: preserve-3d;
  box-shadow: 69px 139px white; 
}

ul li.windows1::after {
  content: '';
  position: absolute;
  top: 10px;
  right: -83px;
  width: 9px;
  height: 50px;
  background-color: white;
  transform: rotate(11deg);
  transform-style: preserve-3d;
  box-shadow: -71px 135px white; 
}

ul li.windows2 {
  position: absolute;
  top: 0px;
  right: 128px;
  width: 5px;
  height: 18px;
  background-color: white;
  transform: rotate(180deg);
  transform-style: preserve-3d;
  box-shadow: 0px -82px white;
}

/* ------------------ from and back lights ------------------ */

ul li.fromLightsCar {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 5px;
  height: 18px;
  background-color: white;
  transform: rotate(180deg);
  transform-style: preserve-3d;
  box-shadow: 0px -59px white;
}

ul li.fromLightsCar::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -40px;
  width: 125px;
  height: 18px;
  background: linear-gradient(90deg, #9b9797, transparent);
  transform: perspective(50px) rotateY(230deg);
}

ul li.fromLightsCar::before {
  content: '';
  position: absolute;
  top: -58px;
  right: -40px;
  width: 125px;
  height: 18px;
  background: linear-gradient(90deg, #9b9797, transparent);
  transform: perspective(50px) rotateY(230deg);
}